html{
    background-image: url("backgroundImage.jpg");
}
body{
    background-color: lawngreen;
    color: black;
    display: inline-grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    height: auto;
    margin: 150px 200px 100px 200px;
    margin-outside: saddle black;
    border-style: solid ;
    border-color: saddlebrown;
    border-width: 10px;

}

header{
    text-align-all: center;
    font-size: 300%;
    margin: 20px 10px 20px 10px;
}

label[for="width1"] {
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#width1{
    margin: 10px 10px 10px 10px;
}
label[for="city"] {
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#city{
    margin: 10px 10px 10px 10px;
}

label[for="angle1"] {
    text-align: left;
    margin: 20px 20px 20px 20px;
    font-size: x-large;
    border-left: 5px solid saddlebrown;
    background-color: sandybrown;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
#angle1{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    transition: 600ms;
}
#angle1:checked{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.7);
    transition: 600ms;
}
label[for="angle2"] {
    margin: 20px 20px 20px 20px;
    font-size: x-large;
    border-left: 5px solid saddlebrown;
    background-color: sandybrown;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    display: none;
}
#angle2{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    transition: 600ms;
    display: none;
}
#angle2:checked{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.7);
    transition: 600ms;
}
label[for="angle3"] {
    margin: 20px 20px 20px 20px;
    font-size: x-large;
    border-left: 5px solid saddlebrown;
    background-color: sandybrown;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    display: none;
}

#angle3{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    transition: 600ms;
    display: none;
}
#angle3:checked{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.7);
    color: darkgreen;
    transition: 600ms;
}
#angleLabel{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
p1{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
p2{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}

label[for="city"]{
    margin: 20px 20px 20px 20px;
    font-size: x-large;
    border-left: 5px solid saddlebrown;
    background-color: sandybrown;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
label[for="heightOfBuilding"]{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#heightOfBuilding{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
label[for="high"]{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#high{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
label[for="zone"]{
    margin: 20px 20px 20px 20px;
    font-size: x-large;
    border-left: 5px solid saddlebrown;
    background-color: sandybrown;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
label[for="zone2"]{
    margin: 20px 20px 20px 20px;
    font-size: x-large;
    border-left: 5px solid saddlebrown;
    background-color: sandybrown;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
label[for="zone3"]{
    margin: 20px 20px 20px 20px;
    font-size: x-large;
    border-left: 5px solid saddlebrown;
    background-color: sandybrown;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
#city{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    transition: 600ms;
}
#city:checked{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.7);
    transition: 600ms;
}
#zone{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    transition: 600ms;
}
#zone:checked{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.7);
    transition: 600ms;
}
#zone2{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    transition: 600ms;
}
#zone2:checked{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.7);
    transition: 600ms;
}
#zone3{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    transition: 600ms;
}
#zone3:checked{
    margin: 20px 20px 20px 20px;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.7);
    transition: 600ms;
}
#results{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#truss1{
    margin: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
label[for="spacing"]{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#spacing {
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
label[for="userOwnBuildingStrain"]{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#userOwnBuildingStrain {
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
label[for="HGirderId"]{
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}
#HGirderId {
    margin: 10px 10px 10px 10px;
    font-size: x-large;
}