<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          type="text/css"
          href="PrimaryRoofStyleSheet.css">

</head>
<body>
<header>Primary dimensions of a truss</header>
<form action="/PrimaryAttributes">
    <label for="width1">Type width in meters</label><br>
    <input type="text" name="width" id="width1"><br>

    <label id="angleLabel" >Select angle:  </label><br>
    <label for="angle1">30 degree</label>
    <input type="radio" name="angle" id="angle1" value="30"><br>
    <label for="angle2">45 degree</label>
    <input type="radio" name="angle" id="angle2" value="45"><br>
    <label for="angle3">60 degree</label>
    <input type="radio" name="angle" id="angle3" value="60"><br>

    <p1>Select area where roof is to be placed </p1><br>
    <label for="city">Warsaw</label>
    <input type="radio" name="city" id="city" value="Warsaw"><br>

    <p2>Select coefficient of zone </p2><br>
    <label for="zone">1 </label>
    <input type="radio" name="zone" id="zone" value="1"><br>
    <label for="zone2">2 </label>
    <input type="radio" name="zone" id="zone2" value="2"><br>
    <label for="zone3">3 </label>
    <input type="radio" name="zone" id="zone3" value="3"><br>

    <label for="high">Type the height of zone</label><br>
    <input type="text" name="high" id="high"><br>

    <label for="heightOfBuilding">Type the height of building in meters</label><br>
    <input type="text" name="heightOfBuilding" id="heightOfBuilding"><br>

    <label for="spacing">Type the spacing</label><br>
    <input type="text" name="spacing" id="spacing"><br>
    <label for="userOwnBuildingStrain">Type the userOwnBuildingStrain </label><br>
    <input type="text" name="userOwnBuildingStrain" id="userOwnBuildingStrain"><br>

    <label for="HGirderId"> Select Id </label><br>
    <input type="text" name="HGirderId" id="HGirderId"  ><br>

    <p1 th:text="${H}"></p1><br>

    <input type="submit" value="Show results" id="results"><br>
    <img src="truss1.bmp" id="truss1" alt="required attributes">

</form>

</body>
</html>