<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>Primary dimensions of a truss</header>
<form action="/page1">
    <label>Type width</label>
    <input type="text" name="width"><br>
    <label>Select angle</label><br>

    <label>30 degree</label>
    <input type="radio" name="angle" value=30><br>
    <label>45 degree</label>
    <input type="radio" name="angle" value="45"><br>
    <label>60 degree</label>
    <input type="radio" name="angle" value="60"><br>

    <input type="submit" value="results">

</form>

</body>
</html>