<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          type="text/css"
          href="RoofDimensionStylesheet.css">
</head>
<body>
<header>Primary dimensions of a truss: </header>
<p1 id="valuestitle">All values are in millimeters </p1><br>
<p2 th:text="${values}" id="results2"></p2>
<img src="truss2.jpg" id="truss2" alt="primary static attributes">
<a href="/" id="return"> Calculate again  </a>
</body>
</html>