<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          type="text/css"
          href="RoofDimensionStylesheet.css">
</head>
<body>
<header>Primary dimensions of a truss: </header>
<p1 id="valuestitle">All values are in units you typed width with  </p1><br>
<p2 th:text="${values}" id="results2"></p2>
<img src="truss2.jpg" id="truss2" alt="primary static attributes">
<a href="/" id="return"> Calculate again  </a>
<p3 id="snowStrain">Values of snow Strain </p3>
<p4 th:text="${values1}" id="results3"></p4>
<p5 id="windStrain">Values of wind Strain </p5>
<p6 th:text="${values2}" id="results4"></p6>
<p7 id="Strain">Values of whole Strain </p7>
<p8 th:text="${values3}" id="results5"></p8>
<p9 id="MD">Values of bending moments on MD linchpin</p9>
<p10 th:text="${A}" id="MD1"></p10>
<p11 id="MAD">Values of bending moments on M AD linchpin</p11>
<p12 th:text="${B}" id="MAD1"></p12>
<p13 id="RA">Ra</p13>
<p14 th:text="${C}" id="RA1"></p14>
<p15 id="RC">Rc</p15>
<p16 th:text="${D}" id="RC1"></p16>
<p17 id="RC'">Rc'</p17>
<p18 th:text="${E}" id="RC'1"></p18>
<p19 id="RD">Rd</p19>
<p20 th:text="${F}" id="RD1"></p20>
</body>
</html>